ul {
list-style-type: none;
margin-top: 30px;
padding: 0;
overflow: hidden;
background-color: cadetblue;

}

li {

text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: cadetblue;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /*alles hierboven weergeven is het menu*/
}
li a:hover {
  background-color: powderblue; /*dit zorgt voor de kleur tijdens het hoveren*/ 
}
body {
  background-color: aliceblue;
}
h1 {
  color: cadetblue;
}
p {
  color: cadetblue; /*dit is mijn tekstkleur*/
}
p {
  font-size: 18px;
}
#para1 {
  border: 3px solid cadetblue;
  border-radius: 8px;
  padding: 5px;
}
h2 {
  color: cadetblue;
}

footer {
  background-color: rgba(126, 174, 216, 0.479); /* achtergrondkleur */
  color: cadetblue; /* tekstkleur */
  padding: 5px; /* Ruimte rondom de inhoud in de footer */
  text-align: center; /* Tekst gecentreerd in de footer */
}
