ul {
  list-style-type: none;
  margin-top: 30px;
  padding: 0;
  overflow: hidden;
  background-color: cadetblue;
}

li {
  text-align: center;
}

li {
  float: left; /* Zorgt ervoor dat het als een menu wordt weergegeven */
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: powderblue; /* Kleur tijdens hover */
}

body {
  background-color: aliceblue;
}

h1 {
  color: cadetblue;
  font-size: 30px;
}

p {
  color: cadetblue;
  font-size: 18px;
}

#para1 {
  border: 3px solid cadetblue;
  border-radius: 8px;
  padding: 5px;
  margin-top: 0;
}

h2 {
  color: cadetblue;
}

footer {
  color: cadetblue;
  text-align: center;
}

ol {
  color: cadetblue;
  font-size: 18px;
  margin-left: 20px;
  padding-left: 0;
}

.linkjes {
  font-size: 20px;
}

/* Dropdown menu styles */

.top-level-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-level-menu > li {
  position: relative;
  float: left;
  height: 30px;
  width: 150px;
  background: #999999;
}

.top-level-menu > li:hover {
  background: #CCCCCC;
}

.top-level-menu li:hover > ul {
  /* On hover, display the next level's menu */
  display: block; /* Corrected from inline */
}

.second-level-menu, .third-level-menu {
  position: absolute;
  top: 100%; /* Ensure the menu is below the parent */
  left: 0;
  width: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  background: #999999;
}

.second-level-menu > li, .third-level-menu > li {
  height: 30px;
  background: #999999;
}

.second-level-menu > li:hover, .third-level-menu > li:hover {
  background: #CCCCCC;
}

.third-level-menu {
  left: 100%; /* Position to the right of the second-level menu */
  top: 0;
}

/* Menu Link Styles */

.top-level-menu a {
  font: bold 14px Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0 0 0 10px;
  display: block;
  line-height: 30px;
}

.top-level-menu a:hover {
  color: #000000;
}
